extends base

block content 
  .wrapper.cart-wrapper
    main.cart-main
      header.header--prod
        nav.nav--logo
          a.nav__ele.header--logo(href='/')
            img.header__logo.icons(src='/icons/green-icon.svg' alt='GreenBuy logo')
            span.logo-title GreenBuy
        nav.links
          a.links__ele(href='/') home
          a.links__ele(href='/pots') pots
          // <a href="#" class="links__ele">contact</a>
          a.links__ele(href='/products') products
        nav.user-nav
          span#cart-items.cart-items
          a(href='/wishlist')
            img.nav--icons(src='/icons/heart.svg' title="Wishlist" alt='wishlist')
          a(href='/my-account')
            img.nav--icons(src='/icons/user-avatar.svg' title="Profile" alt='user')
          a#logout-user(href='#')
            img.nav--icons(src='/icons/logout.svg' title="Logout" alt='logout')
        img#product-hamburger.hamburger.icons(src='/icons/hamburger-2.svg' alt='menu-bar')
      section.purchased
        #product-counter.purchased-items
          if cart.length !== 0
            each item in cart[0].product
              .items(data-prodid=`${item._id}` data-type="product")
                img.items__image(src=`/img/${item.images[0]}` alt=`${item.plantName}`)
                .items__content
                  h2.items__name= item.plantName
                  h3.items__cat= item.plantType
                  h2.items__price= `₹${item.price}`
                .items__feature
                  div.overview-minmax
                    button.items__feature__btn.btn--decrement &minus;
                    input.product-count(type='number' min='1' max='10' value="1")
                    button.items__feature__btn.btn--increment &plus;
                  .purchase-icons
                    svg#wishlist-icon.purchase-icon(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#4a4a4a' fill='none' stroke-linecap='round' stroke-linejoin='round')
                      path(stroke='none' d='M0 0h24v24H0z' fill='none')
                      path(style='pointer-events: none' d='M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572')
                    img#remove-cart-item.purchase-icon(src='/icons/delete.svg' alt='Remove item' title='Remove item')
            each item in cart[0].pot
              .items(data-prodid=`${item._id}` data-type="pot")
                img.items__image(src=`/img/${item.images[0]}` alt=`${item.potName}`)
                .items__content
                  h2.items__name= item.potName
                  h3.items__cat Natural pot
                  h2.items__price= `₹${item.price}`
                .items__feature
                  div.overview-minmax
                    button.items__feature__btn.btn--decrement &minus;
                    input.product-count(type='number' min='1' max='10' value="1")
                    button.items__feature__btn.btn--increment &plus;
                  .purchase-icons
                    svg#wishlist-icon.purchase-icon(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#4a4a4a' fill='none' stroke-linecap='round' stroke-linejoin='round')
                      path(stroke='none' d='M0 0h24v24H0z' fill='none')
                      path(style='pointer-events: none' d='M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572')
                    img#remove-cart-item.purchase-icon(src='/icons/delete.svg' alt='Remove item' title='Remove item')
          else
            h1(style="color:gray;") No items!
        aside#checkout.checkout
          h1.checkout-title checkout!
          h2.checkout-items
            | Total items: 
            span#total-items 10
          h2.checkout-price
            | Total price: 
            span#total-price &#x20B9;1000
          button.checkout-btn checkout
    img.greenbuy-watermark.cart-watermark(src='/icons/green-icon.svg' alt='icon')
    include _menu 

