extends base

mixin star(color="#ffae00")
    svg.icons--star.icons--mini(xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.2" stroke="#4a4a4a" fill=color stroke-linecap="round" stroke-linejoin="round")
        path(stroke="none" d="M0 0h24v24H0z" fill="none" style="pointer-events:none;")
        path(d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" style="pointer-events:none;")
        //- path(d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253z")


block content
    .wrapper
        main.product-product
            header.header--prod
                nav.nav--logo
                    a.nav__ele.header--logo(href='/')
                        img.header__logo.icons(src='/icons/green-icon.svg' alt='GreenBuy logo')
                        span.logo-title GreenBuy
                nav.links
                    a.links__ele(href='/') home
                    a.links__ele(href='/pots') pots
                    a.links__ele(href='/products') plants
                    // <a href="#" class="links__ele">contact</a>

                if user 
                    nav.user-nav
                        span#cart-items.cart-items
                        a(href='/cart')
                            img.nav--icons(src='/icons/cart.svg' alt='user cart' title='Shopping cart')
                        a(href='/wishlist')
                            img.nav--icons(src='/icons/heart.svg' alt='wishlist' title='Wishlist')
                        a(href='/my-account')
                            img.nav--icons(src='/icons/user-avatar.svg' alt='user' title='Profile')
                        a#logout-user(href='#')
                            img.nav--icons(src='/icons/logout.svg' title="Logout" alt='logout')
                else 
                    a.login__user.user__ele(href='/login') login 
    
                img#product-hamburger.hamburger.icons(src='/icons/hamburger-2.svg' alt='menu-bar')
            button#filter--btn.filter--btn filter
            aside#filter.filter.hidden-helper
                h2.filter__title filter
                img#filter-cancel.filter-cancel.icons(src='/icons/cancel-2.svg' alt='cancel')
                #categories.filter__cat
                    h2.filter__cat__title categories
                    label(for='Air purifier')
                        input(type='checkbox' name='Air purifier')
                        |               air purifier
                    label(for='Flowering plant')
                        input(type='checkbox' name='Flowering plant')
                        |               flower plants
                    label(for='Medicinal herbal')
                        input(type='checkbox' name='Medicinal herbal')
                        |               medicinal plants
                    label(for='Easy care')
                        input(type='checkbox' name='Easy care')
                        |               easy care
                .filter__price
                    h2.filter__price__title price range
                    div#price-range
                        input(type='number' placeholder='Min' min='100')
                        input(type='number' placeholder='Max' min='200' max='9999')
                #ratings.filter__rating
                    h2.filter__rating__title Rating
                    .rating-icons
                        input(type='checkbox')
                        +star("none")
                        +star("none")
                        +star("none")
                        +star("none")
                        +star("none")
                        span above
                button#set-filter.set__cat Set Filter
            section.product-display
                .sort
                    h2.sort__title Sort
                    button#most-popular.sort__btn(data-btn="products") most popular
                    button.sort__btn
                        | most new
                        // <img src="icons/cancel.svg" alt="cancel" class="icons--mini" />
                div#product-container.product-container
                    each prod in products
                        a#product.product--prod(href=`/${prod.slug}` data-attr=`/${prod.slug}` data-prodID=`${prod._id}` data-type="product")
                            img.product-image(src=`/img/${prod.images[0]}` alt=`${prod.plantName}`)
                            h2.product-name= prod.plantName
                            .product-rating
                                -let rating = Math.floor(prod.ratings)
                                each _ in Array(rating)
                                    +star()
                                each _ in Array(5 - rating)
                                    +star("none")
                                h2.rating-title (#{prod.ratings})
                            if user
                                svg#wishlist-icon.wishlist-icon(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='none' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    path(style='pointer-events: none' d='M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572')
                            
                            #cart-anim.shopping-cart.hidden-helper
                                img.cart-anim(src='/icons/cart-2.svg' alt='cart')
                            .product-price
                                h2.price= `₹${prod.price}`
                                if user
                                    button#add-cart-btn.add-cart Add to cart
                                else
                                    a.add-cart(href="/login") Add to cart
        include _menu 